@charset "utf-8";
/* swiper */
@import url(https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.css);
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Noto+Sans+KR:wght@300&family=Playfair+Display:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
    list-style: none;
    word-break: keep-all;
    /* border: 1px solid skyblue; */
}
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}
.content{
    height: 100vh;
}

/* header */
#header {
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    border-radius: 0 0 30px 30px;
    background: rgba(255, 255, 255, 0.3);
    transition: .6s;
    max-width: 100%;
}
/* #header:hover {
    height: 90vh;
    transition: .6s;
} */

ul.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    cursor: pointer;
}

ul.nav li {
    height: 75px;
    text-align: center;
    line-height: 75px;
}
ul.nav li img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

/* logo size */
.main_L {
    width: 131px;
    height: 60px;
}
.land_L {
    width: 142px;
    height: 53px;
}
.sea_L {
    width: 107px;
    height: 64px;
}

/* s01 */
#s01 {
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s;
}
.fixed {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
#s01 h1 {
    width: fit-content;
    height: fit-content;
    font-size: 120px;
    font-family: 'Playfair Display';
    position: absolute;
    top: 65%;
    left: 30px;
    color: #fff;
}

#s01 .sideL, #s01 .sideS {
    width: 100px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
    background:  rgba(255, 255, 255, 0.3);
    border: 1px solid #fff;
    border-right: none;
    border-radius: 20px 0 0 20px;
    transition: all 0.5s;
}
#s01 .sideL:hover, #s01 .sideS:hover {
    background: #fff;
}
#s01 .sideL {
    position: absolute;
    right: 0;
    top: 10%;
}
.sideL > a {
    transition: all 0.5s;
}
#s01 .sideS {
    position: absolute;
    right: 0;
    top: 23%;
}
.sideS > a {
    transition: all 0.5s;
}
.sideL img {
    width: 95px;
    height: 110px;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.sideS img {
    width: 124px;
    height: 63px;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* s02 */
#s02, #s03 {
    text-align: center;
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    transition: all 0.5s;
}
#s02 img, #s03 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}



.wrap, .wrap1 {
    width: 1400px;
    height: 850px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
    box-shadow: 20px 23px 15px 3px rgba(0, 0, 0, 0.25);
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


.a1, .a2, .a3, .a4, .a5, .a6, .a7
.b1, .b2, .b3, .b4, .b5, .b6, .b7 {
    width: 100%;
    height: 100%;
    /* display: flex; */
    overflow: hidden;
    display: none;
}

.pop {
    flex-shrink: 0;
    width: 1400px;
    height: 850px;
    margin: 0 auto;
    border: 1px solid #999;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}

/* pop left */
.pop .left {
    border-right: 1px solid #999;
}
/* worldBazaar */
.L1_01 {
    background: url(../pjdland/images/land/01/L1_01m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL1_01 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/01/L1_01b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L1_02 {
    background: url(../pjdland/images/land/01/L1_02m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL1_02 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/01/L1_02b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}

/* adventureLand */
.L2_23 {
    background: url(../pjdland/images/land/02/L2_23m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL2_23 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/02/L2_23b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L2_24 {
    background: url(../pjdland/images/land/02/L2_24m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL2_24 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/02/L2_24b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L2_25 {
    background: url(../pjdland/images/land/02/L2_25m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL2_25 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/02/L2_25b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L2_26 {
    background: url(../pjdland/images/land/02/L2_26m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL2_26 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/02/L2_26b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L2_27 {
    background: url(../pjdland/images/land/02/L2_27m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL2_27 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/02/L2_27b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
/* westernLand */
.L3_49 {
    background: url(../pjdland/images/land/03/L3_49m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL3_49 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/03/L3_49b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L3_50 {
    background: url(../pjdland/images/land/03/L3_50m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL3_50 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/03/L3_50b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L3_51 {
    background: url(../pjdland/images/land/03/L3_51m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL3_51 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/03/L3_51b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L3_52 {
    background: url(../pjdland/images/land/03/L3_52m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL3_52 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/03/L3_52b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L3_53 {
    background: url(../pjdland/images/land/03/L3_53m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL3_53 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/03/L3_53b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
/* critterCountry */
.L4_68 {
    background: url(../pjdland/images/land/04/L4_68m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL4_68 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/04/L4_68b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L4_69 {
    background: url(../pjdland/images/land/04/L4_69m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL4_69 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/04/L4_69b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
/* fantasyLand */
.L5_74 {
    background: url(../pjdland/images/land/05/L5_74m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_74 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_74b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L5_75 {
    background: url(../pjdland/images/land/05/L5_75m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_75 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_75b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L5_76 {
    background: url(../pjdland/images/land/05/L5_76m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_76 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_76b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L5_77 {
    background: url(../pjdland/images/land/05/L5_77m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_77 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_77b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L5_78 {
    background: url(../pjdland/images/land/05/L5_78m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_78 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_78b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L5_79 {
    background: url(../pjdland/images/land/05/L5_79m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_79 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_79b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L5_80 {
    background: url(../pjdland/images/land/05/L5_80m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_80 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_80b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L5_81 {
    background: url(../pjdland/images/land/05/L5_81m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_81 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_81b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L5_82 {
    background: url(../pjdland/images/land/05/L5_82m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_82 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_82b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L5_83 {
    background: url(../pjdland/images/land/05/L5_83m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_83 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_83b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L5_84 {
    background: url(../pjdland/images/land/05/L5_84m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_84 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_84b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L5_85 {
    background: url(../pjdland/images/land/05/L5_85m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL5_85 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/05/L5_85b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}

/* toontown */
.L6_104 {
    background: url(../pjdland/images/land/06/L6_104m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL6_104 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/06/L6_104b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L6_105 {
    background: url(../pjdland/images/land/06/L6_105m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL6_105 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/06/L6_105b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L6_106 {
    background: url(../pjdland/images/land/06/L6_106m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL6_106 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/06/L6_106b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L6_107 {
    background: url(../pjdland/images/land/06/L6_107m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL6_107 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/06/L6_107b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L6_108 {
    background: url(../pjdland/images/land/06/L6_108m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL6_108 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/06/L6_108b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L6_109 {
    background: url(../pjdland/images/land/06/L6_109m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL6_109 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/06/L6_109b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L6_110 {
    background: url(../pjdland/images/land/06/L6_110m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL6_110 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/06/L6_110b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}

/* tomorrowLand */
.L7_120 {
    background: url(../pjdland/images/land/07/L7_120m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL7_120 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/07/L7_120b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L7_121 {
    background: url(../pjdland/images/land/07/L7_121m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL7_121 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/07/L7_121b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L7_122 {
    background: url(../pjdland/images/land/07/L7_122m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL7_122 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/07/L7_122b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L7_123 {
    background: url(../pjdland/images/land/07/L7_123m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL7_123 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/07/L7_123b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L7_124 {
    background: url(../pjdland/images/land/07/L7_124m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL7_124 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/07/L7_124b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.L7_125 {
    background: url(../pjdland/images/land/07/L7_125m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DL7_125 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/land/07/L7_125b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}


.pop .left .location {
    text-indent: -10000px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    right: 25px;
}
.pop .left .return {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 20px;
    width: 75px;
    height: 75px;
    text-indent: -99999px;
    background: url(../pjdland/images/refresh.png) ,url(../pjdland/images/map.png);
    background-repeat: no-repeat;
    background-size: 20px 20px, 50px 50px;
    background-position: 4px 2px, center;
}
.pop .left .text {
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 0 15px;
}
.pop .left .text p {
    font-family: 'Gowun Batang';
}
.pop .left .text p.copy {
    width: 500px;
    text-align: justify;
    font-size: 21px;
}
/* text width 개별 조정 */
.DL2_24 > .left .text p.copy,
.DS3_57 > .left .text p.copy,
.DS5_82 > .left .text p.copy,
.DS6_93 > .left .text p.copy,
.DL7_125 > .left .text p.copy,
.DL7_123 > .left .text p.copy {
    width: 470px;
}
.DL2_24 > .left .text,
.DS7_102 > .left .text {
    gap: 0;
}
.pop .left .text p.title {
    font-size: 58px;
}
.pop .left .text p.type {
    font-size: 22px;
}

.pop .left .text::after {
    content: "";
    display: block;
    width: 1000px;
    height: 1px;
    background: #000;
    margin-top: 30px;
}

/* pop right */
.pop .right {
    width: 20%;
    background: url(../pjdland/images/castle.png) bottom center no-repeat;
    background-size: 150%;
}
.wrap1 .pop .right {
    background: url(../pjdland/images/mermaide.png) bottom center no-repeat;
    background-size: 150%;
}
.pop .right ul.theme {
    width: 100%;
    height: 50px;
    background: #F66E70;
    line-height: 50px;
    font-size: 32px;
    color: #fff;
}
.a2 .pop .right ul.theme {
    background: #248615;
}
.a3 .pop .right ul.theme {
    background: #592108;
}
.a4 .pop .right ul.theme {
    background: #00A9F0;
}
.a5 .pop .right ul.theme {
    background: #AF16A3;
}
.a6 .pop .right ul.theme {
    background: #FF9600;
}
.a7 .pop .right ul.theme {
    background: #1269B9;
}

.pop .right ul.attraction > li {
    color: #000;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}
.pop .right ul.attraction > li:hover {
    color: #666;
}

/* s03 */
.s03 {
    width: 100%;
    height: 100vh;
    position: relative;
} 
.s03 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}


/* s03 attraction */
/* mediterraneanHarbor */
.S1_01 {
    background: url(../pjdland/images/sea/01/S1_01m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS1_01 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/01/S1_01b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S1_02 {
    background: url(../pjdland/images/sea/01/S1_02m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS1_02 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/01/S1_02b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S1_03 {
    background: url(../pjdland/images/sea/01/S1_03m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS1_03 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/01/S1_03b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S1_04 {
    background: url(../pjdland/images/sea/01/S1_04m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS1_04 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/01/S1_04b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}

/* americanWaterfront */
.S2_27 {
    background: url(../pjdland/images/sea/02/S2_27m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS2_27 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/02/S2_27b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S2_28 {
    background: url(../pjdland/images/sea/02/S2_28m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS2_28 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/02/S2_28b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S2_29 {
    background: url(../pjdland/images/sea/02/S2_29m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS2_29 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/02/S2_29b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S2_30 {
    background: url(../pjdland/images/sea/02/S2_30m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS2_30 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/02/S2_30b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S2_31 {
    background: url(../pjdland/images/sea/02/S2_31m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS2_31 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/02/S2_31b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S2_32 {
    background: url(../pjdland/images/sea/02/S2_32m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS2_32 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/02/S2_32b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}

/* portDiscovery */
.S3_55 {
    background: url(../pjdland/images/sea/03/S3_55m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS3_55 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/03/S3_55b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S3_56 {
    background: url(../pjdland/images/sea/03/S3_56m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS3_56 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/03/S3_56b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S3_57 {
    background: url(../pjdland/images/sea/03/S3_57m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS3_57 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/03/S3_57b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}

/* lostRiverDelta */
.S4_64 {
    background: url(../pjdland/images/sea/04/S4_64m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS4_64 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/04/S4_64b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S4_65 {
    background: url(../pjdland/images/sea/04/S4_65m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS4_65 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/04/S4_65b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S4_66 {
    background: url(../pjdland/images/sea/04/S4_66m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS4_66 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/04/S4_66b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}

/* arabianCoast */
.S5_79 {
    background: url(../pjdland/images/sea/05/S5_79m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS5_79 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/05/S5_79b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S5_80 {
    background: url(../pjdland/images/sea/05/S5_80m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS5_80 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/05/S5_80b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S5_81 {
    background: url(../pjdland/images/sea/05/S5_81m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS5_81 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/05/S5_81b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S5_82 {
    background: url(../pjdland/images/sea/05/S5_82m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS5_82 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/05/S5_82b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}

/* mermaidLagoon */
.S6_88 {
    background: url(../pjdland/images/sea/06/S6_88m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS6_88 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/06/S6_88b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S6_89 {
    background: url(../pjdland/images/sea/06/S6_89m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS6_89 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/06/S6_89b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S6_90 {
    background: url(../pjdland/images/sea/06/S6_90m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS6_90 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/06/S6_90b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S6_91 {
    background: url(../pjdland/images/sea/06/S6_91m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS6_91 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/06/S6_91b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S6_92 {
    background: url(../pjdland/images/sea/06/S6_92m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS6_92 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/06/S6_92b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S6_93 {
    background: url(../pjdland/images/sea/06/S6_93m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS6_93 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/06/S6_93b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S6_94 {
    background: url(../pjdland/images/sea/06/S6_94m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS6_94 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/06/S6_94b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}


/* mysteriousIsland */
.S7_102 {
    background: url(../pjdland/images/sea/07/S7_102m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS7_102 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/07/S7_102b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}
.S7_103 {
    background: url(../pjdland/images/sea/07/S7_103m.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.DS7_103 .left {
    width: 80%;
    background: url(../pjdland/images/mini_logo.png), url(../pjdland/images/whiteframe.png), url(../pjdland/images/sea/07/S7_103b.jpg);
    background-repeat: no-repeat;
    background-size: auto, cover, 108%;
    background-position-x: 20px, -160px, -160px;
    background-position-y: 765px, -62px, 0;
    position: relative;
}


.b1 .pop .right ul.theme {
    background: #8A410A;
}
.b2 .pop .right ul.theme {
    background: #BA3864;
    font-size: 28px;
}
.b3 .pop .right ul.theme {
    background: #C8B310;
}
.b4 .pop .right ul.theme {
    background: #016B2E;
}
.b5 .pop .right ul.theme {
    background: #7244B2;
}
.b6 .pop .right ul.theme {
    background: #E4858B;
}
.b7 .pop .right ul.theme {
    background: #028777;
    font-size: 26px;
}

.DS4_64 > .left .text p.title {
    font-size: 50px;
}